* {
  padding: 0;
  margin: 0;
}

body {
  background-color: whitesmoke;
}

#textoNavBar {
  color: white;
}

#textoNavBar:hover {
  color: black;
}

#basic-nav-dropdown {
  color: #f5f5f5 !important;
}

.BrandLogo {
  width: 15px;
}

#CarritoLogo {
  margin-right: 25px;
}

#divSteam {
  margin-right: -150px;
}
